<div class="immersive-content">
  <app-immersive-time-span-field [id]="'duration'"
                                 [label]="'Duration'"
                                 [description]="'The total amount of time a poll will be active for.'"/>
  <app-immersive-number-field [id]="'maximum-options'"
                              [label]="'Maximum options'"
                              [description]="'The maximum amount of options that can appear in a poll at any given time.'"/>
  <app-immersive-checkbox [id]="'prefer-native-polls'"
                          [label]="'Prefer native polls'"
                          [description]="'Whether the mod will attempt to use the platform\'s native polling instead of using a chat-based approach.'"
                          [checked]="true" />
  <app-immersive-checkbox [id]="'enable-poll-dialog'"
                          [label]="'Poll dialog'"
                          [description]="'Whether the mod should also show a window displaying the current poll being held.'"
                          [checked]="true" />
  <app-immersive-checkbox [id]="'large-text'"
                          [label]="'Large text'"
                          [description]="'Whether the poll dialog will use a larger font size when displaying options.'"
                          [checked]="true" />
  <app-immersive-checkbox [id]="'animate-votes'"
                          [label]="'Animate votes'"
                          [description]="'Whether the poll dialog will animate votes as they come in.'"
                          [checked]="true" />
  <app-immersive-checkbox [id]="'random-polls'"
                          [label]="'Random polls'"
                          [description]="'Whether the mod will randomly generate polls from the game\'s event list, including mod events.'"
                          [checked]="true" />
  <app-immersive-checkbox [id]="'options-in-chat'"
                          [label]="'Options in chat'"
                          [description]="'Whether the mod will post active polls in chat.'"
                          [checked]="true" />
</div>
