:root {
  --immersive-button-inner-color: #6A512E;
  --immersive-button-indent-color: #4F3D22;
  --immersive-button-outdent-color: #7D6133;

  --immersive-inactive-button-color: #483B27;
  --immersive-inactive-button-indent-color: #382F20;
  --immersive-inactive-button-outdent-color: #53442A;

  --immersive-window-border-color: #616C7A;
  --immersive-window-background-color: #15191D;

  --immersive-text-field-border-color: #858687;
  --immersive-text-field-background-color: #0A0C0E;

  --immersive-panel-border-color: #878787;
  --immersive-panel-background-color: #2A2B2C;

  --immersive-link-color: rgb(168, 199, 255);
  --immersive-link-hover-color: rgb(220, 219, 255);

  --standard-window-padding: 18px;
  --standard-border-width: 2px;
  --standard-nav-item-padding: 2px;
}

body {
  margin: 0;
  padding: var(--standard-window-padding);
  background-color: var(--immersive-window-background-color);
}

.immersive-content {
  color: white;
  text-decoration: none;
  font-family: helvetica, arial, sans-serif;

  a {
    color: var(--immersive-link-color);
  }

  a:hover {
    color: var(--immersive-link-hover-color);
  }
}

.immersive-button {
  background-color: var(--immersive-button-inner-color);
  border-left-color: var(--immersive-button-indent-color);
  border-bottom-color: var(--immersive-button-indent-color);
  border-top-color: var(--immersive-button-outdent-color);
  border-right-color: var(--immersive-button-outdent-color);

  border-style: solid;
  border-width: 4px;

  padding: 0.5rem;
  text-decoration: none;
}

.immersive-state-button {
  background-color: var(--immersive-inactive-button-color);
  border-left-color: var(--immersive-inactive-button-indent-color);
  border-bottom-color: var(--immersive-inactive-button-indent-color);
  border-top-color: var(--immersive-inactive-button-outdent-color);
  border-right-color: var(--immersive-inactive-button-outdent-color);

  border-style: solid;
  border-width: 4px;

  padding: 0.5rem;
  text-decoration: none;
}

.immersive-state-button.active {
  background-color: var(--immersive-button-inner-color);
  border-left-color: var(--immersive-button-indent-color);
  border-bottom-color: var(--immersive-button-indent-color);
  border-top-color: var(--immersive-button-outdent-color);
  border-right-color: var(--immersive-button-outdent-color);
}

.immersive-window {
  background-color: var(--immersive-window-background-color);
  border-style: solid;
  border-width: var(--standard-border-width);
  border-color: var(--immersive-window-border-color);
  padding: var(--standard-window-padding);

  color: white;
}

.immersive-nav-items {
  text-decoration: none;
  text-align: center;
  padding: 0;

  li {
    display: inline-block;
  }

  :nth-child(2) {
    padding-left: var(--standard-nav-item-padding);
    padding-right: var(--standard-nav-item-padding);
  }
}

.immersive-header {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.immersive-panel {
  background-color: var(--immersive-panel-background-color);
  border-color: var(--immersive-panel-border-color);
  border-width: var(--standard-border-width);
  border-style: solid;
  padding: var(--standard-window-padding);
}
